/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

mat-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
